#a{
    width: 663px;
    height: 258px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#b{
    position: relative;
    left: 410px;
    width: 742px;
    height: 266px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#c{
    width: 663px;
    height: 503px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#e{
    position: relative;
    left: 410px;
    width: 742px;
    height: 87px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#f{
    width: 663px;
    height: 310px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#h{
    position: relative;
    left: 410px;
    width: 742px;
    height: 102px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#i{
    width: 663px;
    height: 181px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#m{
    position: relative;
    left: 410px;
    width: 742px;
    height: 102px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#n{
    width: 663px;
    height: 249px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#o{
    position: relative;
    left: 410px;
    width: 742px;
    height: 199px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#p{
    width: 663px;
    height: 268px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#r{
    position: relative;
    left: 410px;
    width: 742px;
    height: 276px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#s{
    width: 663px;
    height: 276px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#t{
    position: relative;
    left: 410px;
    width: 742px;
    height: 142px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#u{
    width: 663px;
    height: 173px;
    text-align: justify;
      background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
      color: rgb(28, 172, 205);
      border-radius: 32px;
      
      padding: 24px;
   
    box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
#v{
    position: relative;
    left: 410px;
    width: 742px;
    height: 204px;
    text-align: justify;
    background-image: linear-gradient(rgb(7, 23, 72),rgb(179, 43, 194));
    color: rgb(28, 172, 205);
    border-radius: 32px;
    margin: 9px;
    padding: 11px;
 
  box-shadow: rgb(33, 242, 242) 0px 4px 12px;
}
